
@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,500&display=swap');

.rating__star {
    cursor: pointer;
}

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'JetBrains Mono', monospace; }

.rating_active {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url("../images/star-fill.png");
}

.rating_inactive {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url("../images/star-border.png");
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
