










{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Page for Medallion Award</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'customuser/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'customuser/css/style.css' %}">
    <style>
        /* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

    </style>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container shadow-lg">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Registration</h2>
                        <form method="POST" action="{% url 'register' %}" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" required />
                                <div style="color: red;">{{ form.email.errors }}</div>
                            </div>
                            <div class="form-group">
                                <label for="full_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="full_name" id="full_name" placeholder="Your Full Name" required />
                                <div style="color: red;">{{ form.full_name.errors }}</div>
                            </div>
                            
                            <div class="form-group">
                                <label for="department"><i class="zmdi zmdi-card-membership material-icons-name"></i></label>
                                <input type="text" name="department" id="department" placeholder="Your Department e.g. PM" required />
                                <div style="color: red;">{{ form.department.errors }}</div>
                            </div>
                            <div class="form-group">
                                <label for="unit"><i class="zmdi zmdi-group material-icons-name"></i></label>
                                <input type="text" name="unit" id="unit" placeholder="Your Unit e.g. PMT" required />
                                <div style="color: red;">{{ form.unit.errors }}</div>
                            </div>
                            <div class="form-group">
                                <label for="staff_id"><i class="zmdi zmdi-card material-icons-name"></i></label>
                                <input type="text" name="staff_id" id="staff_id" placeholder="Your Staff ID e.g. 01234 or CP1234" required />
                                <div style="color: red;">{{ form.staff_id.errors }}</div>
                            </div>
                            <div class="form-group">
                                <label for="password1"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password1" id="password1" placeholder="Password min 4 characters" required />
                                <div style="color: red;">{{ form.password1.errors }}</div>
                            </div>
                            <div class="form-group">
                                <label for="password2"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password2" id="password2" placeholder="Re-Enter Password" required />
                                <div style="color: red;">{{ form.password2.errors }}</div>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required />
                                <label for="agree-term" class="label-agree-term">
                                    <span><span></span></span>
                                    I agree all statements in Terms of service
                                </label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                            </div>
                        </form>
                        
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'customuser/images/ccc.jpg' %}" alt="sing in image"></figure>
                        <a class="signup-image-link">I am already registered!</a>
                        <a href="{% url 'login' %}" class="signup-image-link">Login</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>

    <!-- Modal -->
<div id="termsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Terms of Service</h3>
        <p>1. Only one user account per staff is allowed. Found guilty will result to cancellation of nominations.</p>
        <p>2. Vote for your choice and do not infringe on other staff choices.</p>
        <p>3. Users must be logged in to the NLNG domain to access the nomination portal.</p>
        <p>4. Click on the "+" symbol to nominate, and the "pen" symbol to edit your nomination.</p>
        <p>4. Kindly logout from your account once the nomination session is complete.</p>
        <p>6. Thank you for your accreditation and agreeing to our terms of service.</p>
    </div>
</div>

<script>
    // Get the modal element
    var modal = document.getElementById("termsModal");

    // Get the checkbox element
    var agreeCheckbox = document.getElementById("agree-term");

    // Get the close button element
    var closeBtn = document.getElementsByClassName("close")[0];

    // Function to open the modal when the checkbox is checked
    function openModal() {
        modal.style.display = "block";
    }

    // Function to close the modal
    function closeModal() {
        modal.style.display = "none";
    }

    // When the user clicks the checkbox, open the modal if it's checked
    agreeCheckbox.addEventListener('change', function () {
        if (agreeCheckbox.checked) {
            openModal();
        } else {
            closeModal();
        }
    });

    // When the user clicks the close button, close the modal
    closeBtn.addEventListener('click', closeModal);

    // When the user clicks anywhere outside the modal, close it
    window.addEventListener('click', function (event) {
        if (event.target == modal) {
            closeModal();
        }
    });
</script>


</body>
</html>